.button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.355;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: relative;
  vertical-align: top;
  user-select: none;
  background-color: white;
  color: $body-font-color;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

.rounded-btn-primary {
  @include button-bg(#0083c3, #ffffff, #0083c3);
}

.rounded-btn-transparent {
  @include button-bg(rgba(255,255,255, 0), #0083c3, #0083c3);
}

.button:focus, .button.is-focused, .button:active, .button.is-active {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
}

.button strong {
  color: inherit;
}

.button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.button .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}

.button .icon:first-child:last-child {
  margin-left: calc(-0.375em - 1px);
  margin-right: calc(-0.375em - 1px);
}

.button.is-small {
  font-size: 14px;
  height: 2.572em;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}

.button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5;
}

.button.is-fullwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none;
}