@import '_variables';

//MT
$mt-color-primary: $violet;
$mt-color-secondary: $violet-dark;
$mt-color-tertiary: $violet-light;
$mt-color-disabled: $violet-lighter;

//AM
$am-color-primary: $blue;
$am-color-secondary: $blue-hover;
$am-color-tertiary: $blue-light;
$am-color-disabled: $grey-light;

//fonts
$text-white: $white;

